.finish {
  height: 100%;
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__result {
    font-size: 22px;
    padding: 4px;
    border-bottom: 2px solid #000;
    margin: 3px 0;
  }
  &__errorButton {
    display: block !important;
    margin-top: 10px !important;
    margin-bottom: 18px !important;
    text-align: center;
    justify-content: center !important;
    width: fit-content;
  }
  &__navButton {
    align-items: center;
    min-width: 200px !important;
    display: inline-flex !important;
    & + & {
      margin-left: 10px !important;
    }
  }
  &__btnsWrapper {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
