.test {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  &__question {
    font-weight: 600 !important;
    font-size: 1.6rem !important;
    &-info {
      font-weight: 500 !important;
      margin-top: 20px;
      font-size: 0.9rem !important;
      margin-bottom: 35px !important;

    }
  }
  &__info {
    margin-top: 10px !important;
  }
  &__divider {
    width: 100%;
    height: 2px;
    margin-bottom: 12px !important;
  }
  &__checkbox {
    width: 100% !important; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  &__description {
    margin-top: 20px !important; 
    margin-bottom: 15px !important;
  }
  &__start-btn {
    padding: 10px 20px !important;
    border-radius: 10px !important;
  }
  &__answers {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: space-around;
    & &--no-transition {
      
      transition: all 0.2s ease-in, background-color 0s !important ;
    }
    &-btn {
      margin-top: 20px !important;
      width: 50%;
      display: flex;
      text-transform: none !important;
      padding: 20px !important;
      justify-content: center;
      border-radius: 30px !important;
      background-color: lightgrey !important;
      width: 250px;
      text-align: center;
      transition: all 0.20s ease-in !important;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
